# Игнорируем PDF-файлы (ваше требование)
*.pdf

# Python (кэш и скомпилированные файлы)
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/

# Среды разработки и виртуальные окружения (Venv / Conda)
.venv/
venv/
env/
ENV/
.env
.ipynb_checkpoints/
.vscode/
.idea/

# Логи и результаты обучения PyTorch / BasicSR
experiments/
tb_logger/
wandb/
*.log
# Директория с логами
logs

# Файлы операционной системы
.DS_Store
Thumbs.db

# Dataset's тоже игнорим
modules
datasets
checkpoints
jpeg_images
nef_images
old
trained
restored_single

# NAFNet
modules/NAFNet
# Игнорировать кэш сборки внутри подмодуля NAFNet
modules/NAFNet/.eggs/
modules/NAFNet/**/*.eggs/
modules/NAFNet/basicsr

utils

# *zip
*.zip
*.tar.bz2
*.tar
*.tar.gz

# *.png
*.png

# *.pth -- файлы обучения (или предобученные модели)
*.pth
